@import "tailwindcss";

@theme {
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);

  --color-accent-cyan: #00f0ff;
  --color-accent-purple: #bd00ff;

  --color-background: #1E1E1E;
  --color-foreground: #ededed;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans)
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-background); 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-cyan); 
}
